<p id="notice"><%= notice %></p>

<p>
  <strong>Personnel:</strong>
  <%= @contract.personnel %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @contract.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @contract.end_date %>
</p>

<p>
  <strong>Wage:</strong>
  <%= @contract.wage %>
</p>

<%= link_to 'Edit', edit_contract_path(@contract) %> |
<%= link_to 'Back', contracts_path %>
