<p id="notice"><%= notice %></p>

<h1>Rateables</h1>

<table>
  <thead>
    <tr>
      <th>Rateable</th>
      <th>Rating</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rateables.each do |rateable| %>
      <tr>
        <td><%= rateable.rateable %></td>
        <td><%= rateable.rating %></td>
        <td><%= link_to 'Show', rateable %></td>
        <td><%= link_to 'Edit', edit_rateable_path(rateable) %></td>
        <td><%= link_to 'Destroy', rateable, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rateable', new_rateable_path %>
